
  
  .header {
    outline: 1px solid var(--line);
  }
  
  .menu__list, .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 50px;
  }
  
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }